@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gillian-regular: var(--font-gillian-regular);
  --font-jaini: var(--font-jaini);
  --font-allura: var(--font-allura);
}

html,
body {
  /* height: 1300px; */
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.grainy-background {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.4;
  pointer-events: none;
}

.animate-sway {
  animation: sway var(--sway-duration, 2s) ease-in-out infinite;
  transform-origin: var(--sway-origin, center center);
}

.text-flash {
  animation: flash 1.5s none infinite;
}

.animate-hang {
  animation: hang 3s ease-in-out infinite;
  transform-origin: top center;
}

.animate-peacock {
  animation: peacock 5s ease-in-out infinite;
  transform-origin: bottom center;
  will-change: transform;
}

.animate-skew {
  animation: skew 2s ease-in-out infinite;
  transform-origin: center center;
  will-change: transform;
}

.animate-move {
  animation: forwardsMotion 5s ease-in-out infinite;
  will-change: transform;
}

.animate-rotate {
  animation: rotate 5s ease-in-out infinite;
}

@keyframes sway {
  0% {
    transform: rotateZ(calc(var(--base-rotation, 0deg) + 0deg));
  }
  50% {
    transform: rotateZ(
      calc(var(--base-rotation, 0deg) + var(--sway-angle, 5deg))
    );
  }
  100% {
    transform: rotateZ(calc(var(--base-rotation, 0deg) + 0deg));
  }
}

@keyframes flash {
  0% {
    opacity: 40%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 40%;
  }
}

@keyframes hang {
  0% {
    transform: translateX(0) skewX(0);
  }
  50% {
    transform: translateX(2px) skewX(4deg);
  }
  100% {
    transform: translateX(0) skewX(0);
  }
}

@keyframes skew {
  0% {
    transform: skewX(0) skewY(0);
  }
  50% {
    transform: skewX(2deg) skewY(2deg);
  }
  100% {
    transform: skewX(0) skewY(0);
  }
}

@keyframes peacock {
  0% {
    transform: rotate(0) skewX(0);
  }
  50% {
    transform: rotate(4deg) skewX(4deg);
  }
  100% {
    transform: rotate(0) skewX(0);
  }
}

@keyframes forwardsMotion {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-30px) translateY(10px);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
